@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.page-link.nuxt-link-exact-active {
  @apply bg-blue-500 text-white;
}

.menu-link.nuxt-link-active {
  @apply text-blue-600 ;
}

.btn-action {
  @apply px-5 py-2 border-blue-500 border text-blue-500 rounded transition duration-300;
}
.btn-action:hover {
  @apply bg-blue-700 text-white;
}
.btn-action:focus {
  @apply outline-none;
}