<template>
  <div class="container mx-auto">
		<div class="p-6">
      <h1 class="text-center">Selamat Datang</h1>
      <div class="flex justify-center" v-if="user">
        <div class="w-1/2 text-center">
          <nuxt-link to="/dashboard">Dashboard</nuxt-link>
        </div>
        <div class="w-1/2 text-center">
          <nuxt-link to="/auth/logout">Logout</nuxt-link>
        </div>
      </div>
      <div class="flex justify-center" v-else>
        <div class="w-1/2 text-center">
          <nuxt-link to="/auth/login">Login</nuxt-link>
        </div>
        <div class="w-1/2 text-center">
          <nuxt-link to="/auth/register">Daftar</nuxt-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex"

export default {
  computed: {
    ...mapGetters({
      user: "auth/user",
    }),
  }
}
</script>

<style>

</style>