<template>
  <div class="container">
    <div class="text-center">
      Logging you out...
    </div>
  </div>
</template>

<script>
export default {
  // middleware: "auth",

  head() {
    return { title: "Logout" };
  },
  created() {
    this.logout()
  },
  methods: {
    async logout() {
      // Log out the user.
      await this.$store.dispatch("auth/logout");

      // Redirect to login.
      this.$router.replace('/');
    }
  }
};
</script>
