<template>
  <div class="container p-2 lg:p-8 flex flex-col">
    Anda tidak memiliki hak akses untuk fitur ini
  </div>
</template>

<script>
export default {
  middleware: 'auth',
  layout: 'teacher',
}
</script>
