<template>
<!-- component -->
<div class="h-screen w-full flex overflow-hidden select-none">
  <Nav />
	<main
		class="my-1 pt-2 pb-2 px-2 sm:px-4 lg:px-10 flex-1 bg-gray-200 dark:bg-black rounded-l-lg
		transition duration-500 ease-in-out overflow-y-auto">
    <Nuxt />
	</main>

</div>  
</template>

<script>
export default {

}
</script>

<style>

</style>