<template>
  <div class="border focus-within:border-blue-500 transition-all duration-500 relative rounded p-1">
    <div class="-mt-4 absolute tracking-wider px-1 uppercase text-xs">
      <p>
        <label :for="name" class="bg-white text-gray-600 px-1">{{ label }} {{ required ? '*' : '' }}</label>
      </p>
    </div>
    <p>
      <input :id="name" autocomplete="false" tabindex="0" :type="type" class="py-1 px-1 outline-none block h-full w-full" 
        v-bind:value="value"
        v-on:input="$emit('input', $event.target.value)"
        :required="required"
        >
    </p>
  </div>
</template>

<script>
export default {
  props: {
    name: {
      type: String,
      required: true
    },
    label: {
      type: String,
      required: true
    },
    required: {
      type: Boolean,
      default: false,
    },
    type: {
      type: String,
      default: 'text',
    },
    value: {
      required: true
    }
  }
}
</script>

<style>

</style>