<template>
  <div class="bg-white shadow rounded-lg p-6">
    <div class="text-3xl mb-8 text-gray-600">Data User</div>
    <table class="text-left w-full border-collapse">
      <tbody>
        <tr class="hover:bg-grey-lighter">
          <td class="py-4 px-6 border-b border-grey-light text-right">Nama</td>
          <td class="py-4 px-6 border-b border-grey-light">
            {{ user.name }}
          </td>
        </tr>
        <tr class="hover:bg-grey-lighter">
          <td class="py-4 px-6 border-b border-grey-light text-right">Username</td>
          <td class="py-4 px-6 border-b border-grey-light">
            {{ user.username }}
          </td>
        </tr>
        <tr class="hover:bg-grey-lighter">
          <td class="py-4 px-6 border-b border-grey-light text-right">Email</td>
          <td class="py-4 px-6 border-b border-grey-light">
            {{ user.email }}
          </td>
        </tr>
        <tr class="hover:bg-grey-lighter">
          <td class="py-4 px-6 border-b border-grey-light text-right">Aksi</td>
          <td class="py-4 px-6 border-b border-grey-light">
            <router-link :to="'/users/edit/'+user.id" class="text-grey-lighter py-1 px-3 rounded text-xs text-white bg-green-500 hover:bg-green-700">Edit</router-link>
            <button class="text-grey-lighter py-1 px-3 rounded text-xs text-white bg-red-500 hover:bg-red-700"
              @click="promptDelete()">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  layout: 'teacher',
  async asyncData({ $axios, params}) {
    let user = (await $axios.$get('/user/'+params.id)).data
    return {
      user
    }
  },
  methods: {
    promptDelete() {
      this.$modal.show({
        type: 'danger',
        title: 'Apakah Anda yakin untuk menghapus data ini?',
        body: 'Data yang dihapus tidak dapat dikembalikan',
        primary: {
          label: 'Hapus',
          theme: 'red',
          action: () => this.doDelete(),
        },
        secondary: {
          label: 'Batalkan',
          theme: 'white',
        },
      })
    },
    async doDelete() {
      await this.$axios.$delete('/user/'+this.$route.params.id)
      this.$toast.success('Data berhasil dihapus')
      this.$router.replace('/users')
    }
  }
}
</script>

<style>

</style>